services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - ./data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  api:
    build: .
    container_name: watashino-kawaii-api
    restart: always
    depends_on:
      - mongo
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb+srv://meryemli:cat%40hhh123@kawaiiApi.atzgzsh.mongodb.net/?retryWrites=true&w=majority&appName=watashino-kawaii-api
      NODE_ENV: production
    # command: ["npm", "start"]

  mongo-express:
    image: mongo-express
    restart: always
    depends_on:
      - mongo
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_SERVER: mongo
