name: Heroku Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests (optional)
        run: npm test || echo "No tests found"

      - name: Deploy to Heroku
        uses: akhileshns/heroku-deploy@v3.13.15  # Updated to latest version
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: "e-market-api-79257bd2c591"
          heroku_email: "litimmeryem2001@gmail.com"